main .highlight > div {
  width: 100%;
}

main .highlight>div>div {
  max-width: 1024px;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  text-align: center;
  color: var(--highlight-text-color);
}

main .section.highlight-container>div {
  max-width: var(--highlight-width);
  padding: 0;
  margin: 0;
}

main .highlight {
  background-color: var(--highlight-background-color);
  position: relative;
  height: var(--highlight-height);
  width: var(--highlight-width);
}

main .highlight > div > div > h5 {
  font-size: var(--heading-font-size-xl);
}

main .highlight > div > div > h4 {
  font-size: var(--heading-font-size-m);
}

main .highlight > div > div:first-child {
  padding: 30px 0;
}

main .highlight > div > div > h2 {
  margin: 0;
  font-size: var(--heading-font-size-m);
  font-weight: 500px;
}

main .highlight > div p {
  margin: 0;
  font-size: var(--body-font-size-s);
  font-weight: 400;
  line-height: 24px;
}

main .highlight.gradient.toright {
  right: unset;
  left: 0;
  background: linear-gradient(90deg, var(--gradient-background-end-color) 0%, var(--gradient-background-start-color) 40%, rgba(162 207 66 / 0%) 90%);
}

main .highlight.gradient.toleft {
  right: 0;
  left: unset;
  background: linear-gradient(270deg, var(--gradient-background-end-color) 0%, var(--gradient-background-start-color) 40%, rgba(162 207 66 / 0%) 90%);
}

main .section.highlight-container .gradient {
  background-color: var(--accent-color);
}

@media (min-width: 600px) {
  main .section.highlight-container {
    padding: 0;
  }
}

@media (min-width: 768px) {
  main .highlight>div>div {
    margin: 0 128px 0 0;
  }
}

@media (min-width: 1024px) {
  main .highlight>div {
    margin: 0 50px ;
  }
}